- @page_title = "Lycaon Trading | Trading African Derivatives | Trading Forex | Social Trading"
%h1 About Us
%p Lycaon Trading are experts at actively trading global leveraged markets. We specialise in intra-day trading strategies for generating revenue but run other successful active strategies as well. Our special interest is in African derivative markets but we trade many markets globally.

%h2 About The Founder

%p Justin (JK) Rentzke is the Founder and Head Trader at Lycaon Trading, a professional proprietary trading firm based in Cape Town, South Africa. As an active trader, analyst, trainer and writer he has extensive experience within the securities trading environment.

%p He started his financial markets career as a financial analyst and stock broker within a corporate environment. During this time he established and developed his market beliefs and strategies, doing copious amounts of research and market analysis as well as trade execution. This laid the foundation for developing his own proprietary trading system. With a decade of trading and market experience to draw on, Justin brings his experience and successful trading strategies to Lycaon.

%p Specialising in derivatives trading, he actively executes his trading system across multiple time frames and derivative markets including index futures, commodity futures, foreign exchange and stocks.

%p Justin is a regular contributor to a number of market related websites and blogs and has also prepared research papers on various subjects relating to financial trading and markets. He enjoys writing technical articles and papers on investment systems, trading strategy, trader psychology, risk management and his real life trading experiences in the markets. He has also written a number of actionable trading plans and developed profitable trading systems.

%h2 What we trade

%p Global futures markets are our predominant focus. Favourites include the S&P e-mini contract, JSE All share index futures contract, 30 year Treasury bond futures and global commodity futures including White Maize in South Africa.

%p We trade a selection of highly liquid stocks and foreign exchange pairs using our proprietary intra-day trading strategy.

%h2 How We Trade

%p Our strategy is centered on our tested proprietary intra-day trading system and a strict; rules based approach focussing on the following areas:
%ul  
  %li Risk management
  %li High expectancy opportunities.
  %li Trader collaboration to improve our results.
  %li A high work ethic to gain an edge.
  %li Trading multiple markets using one philosophy and process
  %li Scenario planning and "worst case" contingency programs to avoid catastrophes.
  %li An adaptive nature to take advantage of evolving markets.

%h2 Our Beliefs
%p We are trend followers by nature although not in the classic trend follower mould. We always attempt to trade in the direction of the trend and attempt to ride break outs and trends or mini intraday momentum moves. Whilst markets are not always trending; if there is a trend we want to be in it. We do not want to be fighting against the crowd or trying to catch the top of an up-trend or bottom of a down-trend. 

%p Often there is no trend or markets are flat or directionless, in which case we step aside completely. This is why we trade multiple markets and asset classes.

%h2 We Concentrate On
%ul
  %li Highly liquid markets
  %li Regulated exchanges (rather than over-the-counter instruments)
  %li Active asset classes and sectors
  %li Markets that meet our filtering requirements
  
%p We are always looking for high expectancy trades with low risk. I am of the belief that often times, even in flat market conditions there are mini intra-day trends formed as sentiment ebbs and flows throughout the session. These are the trends we want to capture. Markets are not efficient and participants are not rational.

