- @page_title = "Trend Following"
%h1 Introduction
%p Lycaon Trading's strategy is robust and has been tested in many conditions across many markets. Using collaboration for success. Our team works together to find the best trading opportunities and improve our performance. In this way we have the benefits of being independent but the strength to compete with the institutional players in the market.
%h2 Latest Blog Posts
We update our blog regularly sharing our trading best practices, strategies and learnings. If you have any thoughts or questions, connect with us through the comments section or via a Social Media channel.
%br
%br
#posts
  