- @page_title = "Lycaon Trading | Trading South African Markets | Trend Followers"
%h1 Lycaon Markets
%h2 Market Related Writing and Consulting
%p This is our only non trading division. We have uncovered that due to the huge growth especially in the retail investment and trading industry, there is a high demand for consulting, development and writing work. In order to fill this need we have built a business unit to provide expertise and experience in this area.
%a{ :href => '/contact.html' } Contact us 
for any consulting related work

